@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    height: calc(100% - 40px);
}

.contentContainer {
    position: relative;
    left: 120px;
    width: calc(100% - 120px);
    padding-left: 10px;
    padding-top: 10px;
}
