.WorkPage {
    .workContent {
        .title {
            font-size: 20px;
        }

        .menu{


            div {
                margin-top: 15px;

                Button {
                    width: 300px;
                }
            }
        }
    }
}
