.MainPage {
    .content {
        .projectContent {
            margin-top: 20px;
            overflow-y: auto;
            max-height: 600px;
            max-width: 500px;

            .projectElement {
                display: flex;
                // height: 80px;
                margin-bottom: 10px;
                align-items: center;

                .projectButton{
                    display: flex;
                    border-radius: 3px;
                    border: 1px solid #000;
                    width: 400px;
                    height: 50px;
                    padding-left: 10px;
                    text-decoration: none;
                    color: black;
                    // margin-bottom: 10px;
                    align-items: center;
                    font-size: 17px;
                    // justify-content: center;

                    &:hover {
                        background-color: #d8f4ff;
                        cursor: pointer;
                    }

                    &:active {
                        background-color: #ffdebe;
                    }
                }

                .projectOptions{
                    // height: 60px;
                    font-size: 30px;
                }
                
            }
            
        }

        .title {
            display: flex;
            // flex-direction: row;
            width: 400px;
            justify-content: center;
            align-items: center;
            
            button {
                margin-left:auto;
            }

            h1{

            }
        }
    }
    
}

